html {
    font-size: 18px;
    
}

body {
    /*padding-top: 50px;*/
    font-family: 'PT Serif', serif;
    color: #2E303B;
}

h1, h2, h3, h4, h5 , .btn {
    font-family: 'Fjalla One', sans-serif;
    color: #CD483F;
}

a {
    color: #CD483F;
}

.navbar-default .navbar-brand {
    color: #CD483F;
}

.navbar-brand {
    background: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.italic {
    font-style: italic;
}

.storke {
   color: #fff;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;    
}

.navbar-nav>li>.dropdown-menu {
    background: #CD483F;
    border-color: #CD483F;
    border-radius: 0;    
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: #CD483F;
    border-color: #CD483F;    
}

.navbar-default {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.44);
    border-bottom: 5px solid #CD483F;
    border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: #CD483F;
    color: #fff;
}