
@import "layout.css";
@import "n-l-form.css";
@import "typography.css";



.prop-list {
    
    color: #2E303B;
    position: relative;
    overflow: hidden;
}


.prop-list.section-map {
    background: #E89B8D;
    color: #2E303B;
}




.prop-list h4 {
    color: #fff;
    color: #2E303B;
    padding: 10px;
    font-size: 1.1rem;
    position: relative;
}

ul.section-nav {
    position: relative;
    margin: 0;
    
    list-style: none;
    padding: 0;     
    padding-bottom: 10px;  
}

ul.section-nav a {
    color: #fff;
    color: #2E303B;
    padding: 2px;
    padding-left: 10px;
    border-left: 5px solid  #2E303B;
    
    display: block;
}




img.prsnt {
    width: 100%;
    height: auto;
    margin-bottom: 10px;  
}

p {
    font-size: 1rem;
}

h1 { 
    font-size: 1rem;
}

h2 {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 10px;
}

h2 span {
    font-weight: normal;
    color:#2E303B;
    font-size: 80%; 
    display: block;
}

.btn {
    border: none;
    border-radius: 0;
}

a.btn-primary {
    color: #fff;
    background: #CD483F;
}

.m-b {
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bg-1,.bg-2 {
    padding: 70px 0;
}

.bg-2 {
    background: #F7F7F7;
}

.pict {
    height: 300px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pics-small {
    height: 70px;
}

.pics-small img {
    height: auto;
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray;     
}

.carousel-article {
    text-align: center;
    padding: 100px 0;
    color: #fff;
    font-size: 1.5rem;
}

.carousel-article span {
    display: block;
}

.carousel-article h3  {
    margin: 0;
}

.carousel-article h3 a {
    color: #fff;
    font-size: 2rem;
}

.section-home p {
    color: #888C67;
}

.section-home p a {
    font-weight: bold;
    border-bottom:1px solid  #CD483F;
    padding: 0 10px;
    font-style: italic;
    
}

.section-home p.perex {
    color: #2E303B;
    font-size: 1.3rem;
    font-weight: bold;
        line-height: 1.6rem;
}


.bg-green-dark {
    background: #888C67;
    background: #2E303B;
    
    padding: 30px 0;
    
    color: #fff;
    text-align: center;    
}

.bg-green-dark p {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}
.bg-green-dark p small {
    color: #888C67;
}

.bg-green-dark i.fa {
    display: block;
    height: 80px;
    width: 80px;
    border: 5px solid #92C393;
    margin: 0 auto;
    line-height: 73px;
    background: #2E303B;
    margin-top: -65px;
    font-size: 2rem;
    
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;    
}

.n-l-form {
    color: #fff;
}

.bg-green {
    background: #92C393;
    background: #2e303b;
    background-image: url(../img/hp-top-bg01.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    padding: 70px 0;
    font-family: 'Fjalla One', sans-serif;
    
    text-align: center;
}

.bg-green a {
    color: #fff;
    border-bottom: 3px solid #CD483F;
    
    
}


.bg-green a.btn {
    border: none;
    background: #CD483F;

}

.bg-green a:hover {
    text-decoration: none;
}



.promo-item {
    background: #2E303B;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.promo-item p {
    padding: 0 10px;
    font-size: 1rem;    
}

.promo-item strong {
    display: block;
    background: #CD483F;
    padding: 10px;
    font-size: 1.1rem;
}