.bg-green {
    font-size: 2rem;
}

.bg-green a.btn {
    padding: 15px 30px;
    font-size: 1rem; 
    margin: 25px 0;   
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    .bg-green {
        font-size: 2rem;
    }
    
    .bg-green a.btn {
        font-size: 1.3rem; 
    }    
    
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .bg-green {
        font-size: 3rem;
    }
    .bg-green a.btn {
        font-size: 1.8rem; 
    }      
    
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .bg-green {
        font-size: 4rem;
    }
    
    .bg-green a.btn {
        font-size: 2rem; 
    }      
    
 }